MainApp>Screen {
    align: center middle;
}

#main_option_list {
    width: 70%;
    height: 40%;
    width: 1fr;
    border: solid green;
}

MainApp>Screen>Label{
    align: center middle;
    text-align: center;
    width: 100%;
}